*~
*.*~
\#*
.\#*
/auto-save-list/
/eln-cache/
/history
/forge-database.sqlite
/projectile-bookmarks.eld
/projectile.cache
/url/*
/places
/.cache
/recentf
/bookmarks
/custom.el

# straight
!/straight/versions/default.el
/straight/*
