/neovim/.config/nvim/.netrwhist
/neovim/.config/nvim/spell/*
/polybar/.config/polybar/config.ini
/bin/bin/*
TAGS
**/.emacs.d/cache/
**/.emacs.d/transient/
.lsp-session-*
/emacs/.cache/
ghci_history
flycheck_config.el
